/*****Resets*****/

html {
  font-family: 'Oxygen', sans-serif;
  color: #464646;
}

body {
  width: 90%;
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: top;
}


/*****Type*****/

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 11px;
  color: #a9b2b6;
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 20px;
}


/*****Utilities*****/

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.image-border {
  border: 1px solid #a9b2b6;
}

.grid {
  text-align: center;
}

.grid__item {
  display: inline-block;
  padding: 20px 10px;
  max-width: 250px;
  vertical-align: top;
}

.inline-block {
  display: inline-block;
}

.inline-block__grid-item {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}



/*****Header*****/

#header {
  padding: 20px 0;
  text-align: center;
}

#header a {
  display: inline-block;
}

#header img {
  max-height: 175px;
  vertical-align: top;
}


/*****Navigation*****/

#nav {
  position: relative;
  text-align: center;
  border-top: 2px solid #04aac6;
  border-bottom: 2px solid #04aac6;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  display: inline-block;
}

#nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #464646;
}

#nav a:hover {
  color: #02aac6;
}


/*****Body*****/

#body {
  padding: 20px 0;
}


/*****Footer*****/

#footer {
  display: table;
  width: 100%;
  border-top: 2px solid #04aac6;
}

#footer .copyright,
#footer .social {
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#footer .social {
  text-align: right;
}

#footer .icon {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

#footer .icon + .icon {
  margin-left: 4px;
}

#footer img {
  vertical-align: top;
}


/*****Project Tiles*****/

.project-tile {
  display: block;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

.project-tile__image {
  vertical-align: top;
}

.project-tile__title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.project-tile__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}


/*****Project Page*****/

.project__header {

}

.project__header-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.project__header-subtitle {
  margin-top: 10px;
}

.project__content {
  margin-bottom: 20px;
}

.project__content:after {
  content: '';
  display: table;
  clear: both;
}


/*****Work Nav*****/

.work-nav {
  text-align: center;
}

.work-nav__item {
  display: inline-block;
  padding: 10px;
  max-width: 100px;
}

.work-nav__item a {
  display: block;
  opacity: 0.5;
}

.work-nav__item a:hover {
  opacity: 1;
}

.work-nav__item img {
  vertical-align: top;
}


/*****Minimalistic Movie Posters*****/

.movie-posters {
  text-align: center;
}

.movie-posters__item {
  display: inline-block;
  padding: 20px;
}

.movie-posters__item img {
  vertical-align: top;
}


/*****Orange Cupboard*****/

.orange-cupboard {
  padding: 20px;
  text-align: center;
}

/*@media screen and (min-width: 768px) {
}*/

/*****Minimalistic Movie Posters*****/

.kohls-mms {
  text-align: center;
}

.kohls-mms__item {
  display: inline-block;
  padding: 20px;
}

.kohls-mms__item img {
  vertical-align: top;
}


/*****Fosters Home*****/
.fosters-home {
  text-align: center;
}

.fosters-home__item {
  display: inline-block;
  padding: 20px;
}

.fosters-home__item img {
  vertical-align: top;
}

.fosters-home__codepen-embed {
  margin: 0 auto;
  max-width: 1000px;
}

.fosters-home__codepen-embed > div {
  padding: 20px;
}

/*****About*****/

#intro img {
  max-width: 250px;
  float: left;
  margin-right: 25px;
}

#intro {
  overflow: hidden;
  margin-top: 25px;
  text-align: left;
}

#social {
  width: 45%;
}

.button {
  background-color: #04aac6;
  height: 30px;
  width: 150px;
  font-size: 14px;
  color: white;
  float: left;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

#skills {
  margin-top: 35px;
  overflow: hidden;
  text-align: left;
}

.chart {
  text-align: center;
}

.chart figure {
  margin: 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

#facts {
  margin-top: 35px;
  text-align: left;
}


/*****Contact*****/

#contact {
  overflow: hidden;
  margin-top: 5px;
}